<div class="page-container">
  <div class="content">
    <h1>Central de Ajuda</h1>
    <p>Bem-vindo à nossa Central de Ajuda. Aqui você encontrará respostas para as dúvidas mais frequentes e informações úteis sobre nossos serviços.</p>
    
    <section class="help-section">
      <h2>Como podemos ajudar?</h2>
      <ul>
        <li><a routerLink="/suporte/produtos-servicos" class="help-link">Dúvidas sobre produtos e serviços</a></li>
        <li><a routerLink="/suporte/problemas-tecnicos" class="help-link">Problemas técnicos</a></li>
        <li><a routerLink="/suporte/orientacoes-uso" class="help-link">Orientações de uso</a></li>
        <li><a routerLink="/suporte/informacoes-conta" class="help-link">Informações sobre sua conta</a></li>
        <li><a routerLink="/suporte/network-solution" class="help-link">Network Solution</a></li>
      </ul>
    </section>
  </div>
</div>
